@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container_head {
  text-align: center;
  margin-top: 30px;
}

.container img {
  height: 100px;
  width: 250px;
}

.container {
  /* background-color: rgb(136, 175, 219); */
  height: 100px;
  display: flex;
  width: 100%;
}

.header_title {
  display: flex;
  color: rgb(148, 4, 105);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1000px;
  font-size: 3rem;
  text-decoration: underline;
}

nav {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(201, 214, 230);
}

nav ul {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
nav ul li {
  list-style: none;
  padding: 0 23px;
}

nav ul li a {
  color: rgb(17, 1, 1);
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
}

nav ul li a:hover {
  color: red;
  font-size: 1.1rem;
  /* border-bottom: 1px solid; */
}

.active_nav {
  color: rgba(211, 66, 66, 0.616);
  font-size: 1.3rem;
  border: 1px solid #373737;
}

.Courses h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;
  margin-top: 40px;
}

.Courses h1:hover {
  color: rgb(231, 11, 11);
}

.full_stack {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(175, 168, 214); */
}
.full_stack > img {
  transition: transform 0.2s;
}
.full_stack > img:hover {
  transform: scale(1.2);
}

.full_stack > div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course h2 {
  text-decoration: underline;
}
.software_testing > img {
  transition: transform 0.2s;
}
.software_testing > img:hover {
  transform: scale(1.2);
}
.software_testing {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(8, 243, 231, 0.568); */
}
.software_testing > div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spoken_english > img {
  transition: transform 0.2s;
}
.spoken_english > img:hover {
  transform: scale(1.2);
}
.spoken_english {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(226, 233, 169); */
}

.spoken_english > div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_title {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin: 30px 0;
}

.about_title:hover {
  color: rgb(231, 11, 11);
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 320px;
  margin: auto;
  position: relative;
}

.text {
  position: absolute;
  width: 280px;
  height: 80px;
  padding: 10px;
  background-color: #00376e;
  color: aliceblue;
  text-align: center;
  margin-top: 200px;
  /* display: none; */
  overflow: hidden;
}
.text h2 {
  margin-top: 14px;
}
.text p {
  /* display: none; */
  visibility: hidden;
}

.images:hover .text {
  height: 300px;
  bottom: 40px;
  transition: 1s;
}
.images:hover .text p {
  /* display:block; */
  visibility: visible;
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
}

.facilites {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin: 30px 0;
}

.facilites:hover {
  color: rgb(231, 11, 11);
}

.paraline {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.admission {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ask {
  color: rgb(7, 104, 168);
  font-size: 30px;
}

.short_line {
  font-size: 20px;
  color: rgb(170, 16, 16);
}
.certificate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00376e;
  color: white;
  margin-top: 20px;
}

.advertise {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.advertise > img {
  transition: transform 0.2s;
  left: 0;
}
.advertise > img:hover {
  transform: scaleY(1.2);
  left: 0;
}

.tag_line {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact_us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  background-color: #00376e;
  color: white;
  padding: 30px;
}

.contact_us button[type="submit"] {
  padding: 5px;
  width: 70px;
}

.contact_form :not(label) {
  width: 300px;
  text-align: center;
}
.contact_form input,
textarea {
  display: flex;
  flex-direction: column;
}
.contact_form input {
  padding: 3px;
}
.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(26, 24, 24);
  color: rgb(216, 209, 209);
  padding: 20px;
}
.footer ul li a {
  color: rgb(216, 209, 209);
  text-decoration: none;
}

.footer ul li {
  list-style: none;
}
.end {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
}

/* About_us page CSS */

.about_image_div {
  /* display: flex;
  flex-direction: column; */
  margin-top: 40px;
}

.about_img_title {
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  margin-top: 40px;
}

.course_separate_tag {
  display: flex;
  text-align: center;
}

.button_seperation {
  display: flex;
}

/* .Courses{
  margin-bottom: 20px;
} */

.courses_h1 {
  margin-bottom: 20px;
}

/* Full Stack */

.mscit_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.mscit_img {
  padding-top: 20px;
  border-radius: 5px;
}

.first_img {
  border-radius: 10px;
  margin-top: 20px;
}

.first_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

/* .first_img_p:hover{
  /* font: italic; */
/* font-style: italic; */
/* font-weight: 600;
} */

.mscit_img {
  margin-top: 20px;
  /* cursor: pointer; */
}

.first_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.first_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.course_separate_tag {
  /* padding-left: 20px; */
  background-color: blanchedalmond;
}

.mscit_img h3 {
  padding-top: 15px;
}

/* Software Testing */

.soft_img {
  margin-top: 20px;
}

.soft_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.soft_img {
  padding-top: 20px;
  border-radius: 5px;
}

.second_img {
  border-radius: 10px;
  margin-top: 20px;
}

.second_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.second_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.second_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.soft_img h3 {
  padding-top: 15px;
}

/* C Language */

.c_img {
  margin-top: 20px;
}

.c_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.c_img {
  padding-top: 20px;
  border-radius: 5px;
}

.third_img {
  border-radius: 10px;
  margin-top: 20px;
}

.third_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.third_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.third_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.c_img h3 {
  padding-top: 15px;
}

/* C++ Language */

.c_plus_img {
  margin-top: 20px;
  /* padding-right: 10px; */
}

.c_plus_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.c_plus_img {
  padding-top: 20px;
  border-radius: 5px;
}

.fourth_img {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: -10px;
}

.fourth_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.fourth_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.fourth_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.c_plus_img h3 {
  padding-top: 15px;
}

/* HTML */

.html_img {
  margin-top: 20px;
}

.html_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.html_img {
  padding-top: 20px;
  border-radius: 5px;
}

.fifth_img {
  border-radius: 10px;
  margin-top: 20px;
}

.fifth_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.fifth_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.fifth_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.html_img h3 {
  padding-top: 15px;
}

/* CSS */

.css_img {
  margin-top: 20px;
}

.css_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.css_img {
  padding-top: 20px;
  border-radius: 5px;
}

.sixth_img {
  border-radius: 10px;
  margin-top: 20px;
}

.sixth_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.sixth_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.sixth_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.css_img h3 {
  padding-top: 15px;
}

/* JavaScript */

.javascript_img {
  margin-top: 20px;
}

.javascript_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.javascript_img {
  padding-top: 20px;
  border-radius: 5px;
}

.seventh_img {
  border-radius: 10px;
  margin-top: 20px;
}

.seventh_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.seventh_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.seventh_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.javascript_img h3 {
  padding-top: 15px;
}

/* PHP */

.php_img {
  margin-top: 20px;
}

.php_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.php_img {
  padding-top: 20px;
  border-radius: 5px;
}

.eighth_img {
  border-radius: 10px;
  margin-top: 20px;
}

.eighth_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.eighth_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.eighth_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.php_img h3 {
  padding-top: 15px;
}

/* Node JS */

.node_js_img {
  margin-top: 20px;
}

.node_js_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.node_js_img {
  padding-top: 20px;
  border-radius: 5px;
}

.ninth_img {
  border-radius: 10px;
  margin-top: 20px;
}

.ninth_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.ninth_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.ninth_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.node_js_img h3 {
  padding-top: 15px;
}

/* React JS */

.react_js_img {
  margin-top: 20px;
}

.react_js_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.react_js_img {
  padding-top: 20px;
  border-radius: 5px;
}

.tenth_img {
  border-radius: 10px;
  margin-top: 20px;
}

.tenth_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.tenth_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.tenth_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.react_js_img h3 {
  padding-top: 15px;
}

/* MYSQL */

.mysql_img {
  margin-top: 20px;
}

.mysql_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.mysql_img {
  padding-top: 20px;
  border-radius: 5px;
}

.eleventh_img {
  border-radius: 10px;
  margin-top: 20px;
}

.eleventh_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.eleventh_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.eleventh_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.mysql_img h3 {
  padding-top: 15px;
}

/* Mango DB */

.mango_db_img {
  margin-top: 20px;
}

.mango_db_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.mango_db_img {
  padding-top: 20px;
  border-radius: 5px;
}

.twelth_img {
  border-radius: 10px;
  margin-top: 20px;
}

.twelth_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.twelth_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.twelth_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.mango_db_img h3 {
  padding-top: 15px;
}

/* Python */

.python_img {
  margin-top: 20px;
}

.python_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.python_img {
  padding-top: 20px;
  border-radius: 5px;
}

.thirteen_img {
  border-radius: 10px;
  margin-top: 20px;
}

.thirteen_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.thirteen_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.thirteen_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.python_img h3 {
  padding-top: 15px;
}

/* Express JS */

.express_js_img {
  margin-top: 20px;
}

.express_js_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.express_js_img {
  padding-top: 20px;
  border-radius: 5px;
}

.fourteen_img {
  border-radius: 10px;
  margin-top: 20px;
}

.fourteen_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.fourteen_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.fourteen_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.express_js_img h3 {
  padding-top: 15px;
}

/* GitHub */

.github_img {
  margin-top: 20px;
}

.github_img:hover {
  background-color: rgb(255, 226, 184);
  padding-top: 20px;
  border-radius: 5px;
  border-radius: 30px;
}

.github_img {
  padding-top: 20px;
  border-radius: 5px;
}

.fifteen_img {
  border-radius: 10px;
  margin-top: 20px;
}

.fifteen_img_p {
  /* font-style: italic; */
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 20px;
  cursor: pointer;
  /* font-size: 17px; */
}

.fifteen_img_btn {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -5px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.fifteen_img_btn:hover {
  background-color: rgb(241, 55, 55);
}

.github_img h3 {
  padding-top: 15px;
}

.fac {
  margin-top: 20px;
}

/* Internship Section */

.internship {
  background-color: blanchedalmond;
  /* width: 100%; */
  height: 800px;
  /* margin-top: 10px; */
}

.head_intern {
  padding-top: 50px;
  /* justify-content: center; */
  /* padding-left: 40%; */
  text-align: center;
  color: rgb(51, 31, 1);
  font-family: Adamina;
  font-weight: 700;
  /* background-color: #00376e; */
}

.head_intern h5 {
  font-size: 50px;
  box-sizing: 300px;
  width: 300px;
  margin-left: 40%;
  padding-left: 2px;
  background-color: rgb(248, 203, 136);
  border-radius: 5px;
  padding-bottom: 15px;
  padding-top: 10px;
  box-shadow: 0px 3px 3px 1px rgb(244, 187, 101);
}

.head_intern p {
  margin-left: 350px;
  margin-top: 60px;
  color: #000000;
  background-color: rgb(141, 228, 228);
  width: 600px;
}

.images {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.industrial {
  /* background-color: rgb(255, 226, 184); */
  border-radius: 30px;
  width: 450px;
  height: 500px;
  margin-top: 50px;
}

.industrial img {
  width: 230px;
  height: 230px;
  border-radius: 25px;
  padding-top: 30px;
  margin-left: 110px;
}

.industrial h3 {
  font-size: 25px;
  /* line-height: 40px; */
  padding-top: 25px;
  padding-left: 55px;
}

.industrial p {
  padding-top: 15px;
  font-size: 18px;
  padding-left: 60px;
  color: rgb(72, 71, 71);
}

.industrial button {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 155px;
  background-color: rgb(255, 0, 21);
  border-radius: 50px;
  height: 40px;
  line-height: 1.4;
  outline: none;
  width: 150px;
  border: 0;
  font-family: "Poppins";
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.industrial button:hover {
  background-color: rgb(241, 55, 55);
}

.industrial:hover {
  background-color: rgb(255, 226, 184);
}

.intern_p {
  margin-left: -15px;
}

/* Why Us Section */

.why_us {
  background-color: white;
  width: 100%;
  height: 420px;
}

.why_us h1 {
  margin-top: 135px;
  text-align: center;
  margin-left: 90px;
  font-size: 35px;
  font-family: Poppins;
  line-height: 1.4;
  color: rgb(51, 51, 51);
}

/* Why Us First Row Section */

.first_row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.upgrade_img {
  width: 101px;
  height: 101px;
  margin-left: 45px;
}

.upgrade_txt {
  margin-left: -200px;
  margin-top: 35px;
  font-size: 23px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-family: cursive;
}

.thumb_img_why {
  width: 101px;
  height: 101px;
  margin-top: -10px;
  margin-left: -100px;
}

.thumb_txt {
  margin-left: -200px;
  margin-top: 38px;
  font-size: 23px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-family: cursive;
}

/* Why Us Second Row Section */

.second_row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.cap_img {
  width: 101px;
  height: 101px;
  margin-left: 45px;
}

.cap_txt {
  margin-left: -200px;
  margin-top: 35px;
  font-size: 23px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-family: cursive;
}

.batch_img_why {
  width: 101px;
  height: 101px;
  margin-top: -10px;
  margin-left: -100px;
}

.batch_txt {
  margin-left: -200px;
  margin-top: 8px;
  font-size: 23px;
  color: rgb(51, 51, 51);
  font-weight: 500;
  font-family: cursive;
}

/* Gallery Section */

.gallery_sec {
  width: 100%;
  height: 960px;
  background-color: aliceblue;
}

.gallery_sec h1 {
  padding-top: 7px;
  /* margin-top: 20px; */
  text-align: center;
  /* align-items: center; */
  margin-left: 530px;
  border-radius: 15px;
  width: 200px;
  height: 80px;
  background-color: rgb(219, 236, 252);
  font-size: 45px;
  font-family: cursive;
}

/* Gallery First Row */

.img_first_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}

.img_first_row img {
  width: 384px;
  height: 225px;
  border-radius: 15px;
}

/* Gallery Second Row */

.img_second_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.img_second_row img {
  width: 384px;
  height: 225px;
  border-radius: 15px;
}

/* Gallery Third Row */

.img_third_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.img_third_row img {
  width: 384px;
  height: 225px;
  border-radius: 15px;
}

/* Video */

.video {
  /* display: flex; */
  width: 100%;
  height: 950px;
  background-color: white;
  margin-top: 40px;
}

.video_head {
  padding-top: 7px;
  margin-top: 70px;
  text-align: center;
  /* align-items: center; */
  margin-left: 530px;
  border-radius: 15px;
  width: 200px;
  height: 80px;
  /* background-color: rgb(219, 236, 252); */
  font-size: 45px;
  font-family: cursive;
}

/* Video First Row */

.vid_first_row {
  display: flex;
  justify-content: space-around;
}

.vid_first_row video {
  width: 550px;
  height: 300px;
  margin-top: 60px;
  border-color: #000000;
  border-radius: 25px;
}

.first_video_h1 {
  width: 450px;
  background-color: rgb(226, 221, 221);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-left: 45px;
  margin-top: 15px;
}

.second_video_h1 {
  width: 450px;
  background-color: rgb(226, 221, 221);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-left: 45px;
  margin-top: 15px;
}

/* Video Second Row */

.vid_second_row {
  display: flex;
  justify-content: space-around;
}

.vid_second_row video {
  width: 550px;
  height: 300px;
  margin-top: 60px;
  border-color: #000000;
  border-radius: 25px;
}

.third_video_h1 {
  width: 450px;
  background-color: rgb(226, 221, 221);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-left: 45px;
  margin-top: 15px;
}

.fourth_video_h1 {
  width: 450px;
  background-color: rgb(226, 221, 221);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-left: 45px;
  margin-top: 15px;
}

.h1_txt {
  font-size: 30px;
  margin-top: 50px;
  width: 500px;
  font-family: "Courier New", Courier, monospace;
}

.hurry_txt {
  font-size: 25px;
  padding-top: 20px;
  font-family: cursive;
}

.grab_txt {
  font-size: 22px;
  padding-top: 20px;
  font-family: cursive;
}
